{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% set wrong_user = errors and errors.get("username") %}
{% set wrong_passwd = errors and errors.get("password") %}

{% block content%}
<div class="container mt-5" style="max-width: 420px;">
  <div class="card shadow=sm">
    <div class="card-body">
      <h4 class="card-title">Login</h5>
        <form method="post" class="mt-1">
          <input type="hidden" name="csrf" value="{{ csrf }}">

          <div class="mb-3 {{ 'has-danger' if wrong_user }}">
            <label class="form-label">Username</label>
            <input name="username" class="form-control {{ 'is-invalid' if wrong_user }}" placeholder="enter username">
            {% if wrong_user %}
            <div class="invalid-feedback">{{ errors.get("username") }}</div>
            {% endif %}
          </div>

          <div class="mb-3 {{ 'has-danger' if wrong_passwd }}">
            <label class="form-label">Password</label>
            <input type="password" name="password" class="form-control {{ 'is-invalid' if wrong_passwd }}"
              placeholder="enter password">
            {% if wrong_passwd %}
            <div class="invalid-feedback">{{ errors.get("password") }}</div>
            {% endif %}
          </div>
          {% if errors and errors.get("csrf") %}
          <div class="alert alert-warning alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <h4 class="alert-heading mt-0">Error</h4>
            <p class="mb-0">{{ errors.get("csrf") }}</p>
          </div>
          {% endif %}
          <p>
            <button class="btn btn-primary w-100" type="submit">Login</button>
          </p>
        </form>
    </div>
  </div>
</div>
{% endblock %}