{% extends "base.html" %}
{# TODO: make the title better #}
{% block title %}Peeking {{ roomID }}{% endblock %}

{% block content %}
<div class="d-flex vh-75 p-3 gap-3">

    <!-- Left: Game canvas -->
    <div class="w-75 d-flex flex-column align-items-center">
        <div class="card w-100">
            <div class="card-body" id="game-view">
                <canvas id="canvas" class="w-100 h-100" width="2000" height="1000"></canvas>
            </div>
        </div>

        <div class="mt-3 d-flex gap-2 justify-content-center w-100" x-data>
            {# for opening #}
            {# <button class="btn btn-primary" #}
                    {# @click="console.log('open game')">Open game</button> #}
            {# for starting #}
            {# <button class="btn btn-info" #}
                    {# @click="console.log('start game')">Start game</button> #}
<div x-data="{
    openNotClose: false,
    startNotStop: true,
    done: false,
    action: null
}">

<div class="flex justify-center">
    <button
        class="btn"
        :class="'btn-' + (openNotClose ? 'success' : 'info')"
        @click="updateRoom(openNotClose ? 'close' : 'open'),
                openNotClose = !openNotClose"
        x-text="openNotClose ? 'Close' : 'Open'"
        :disabled="done || !startNotStop"
        x-transition></button>
    <button
        class="btn"
        :class="'btn-' + (startNotStop ? 'primary' : 'secondary')"
        @click="updateRoom(startNotStop ? 'start' : 'stop'),
                !startNotStop && (done = true),
                startNotStop = !startNotStop,
                openNotClose = false"
        x-text="startNotStop ? 'Start' : 'Stop'"
        :disabled="done"
        x-transition></button>
    <button
        class="btn btn-danger"
        @click="updateRoom('reset'),
                openNotClose = false,
                startNotStop = true,
                done = false;"
        x-transition>reset</button>
</div>

</div>
        </div>
    </div>

    <!-- Right: Accordion -->
    <div class="w-25 flex-column">
        <div class="accordion border-primary"
             id="playernames"
             x-data>

            {# title of stuff below #}
            <div class="accordion-item" id="title">
                <h4 class="accordion-header p-2 text-center">
                    Connected players
                </h4>
            </div>

            {# individual item #}
            <template x-for="item in Object.values($store.users)">
                <div class="accordion-item"
                     :id="'card-' + item.UUID">
                    {# title of accordion item #}
                    <h2 class="accordion-header">
                        {# button to open it #}
                        <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                :data-bs-target="'#' + item.UUID"
                                aria-expanded="true"
                                :aria-controls="item.UUID"
                                x-text="item.name"></button>
                    </h2>

                    {# content of accordion #}
                    <div :id="item.UUID"
                         class="accordion-collapse collapse"
                         :aria-labelledby="item.UUID"
                         data-bs-parent="#playernames">
                        <div class="accordion-body">
                            <button class="btn btn-success"
                                    x-text="'nr 1'"
                                    @click="console.log('nr 1')"></button>
                            <button class="btn btn-success"
                                    x-text="'nr 2'"
                                    @click="console.log('nr 2')"></button>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script>
    window.CSRF_TOKEN = "{{ csrf }}";
    window.roomID = {{ roomID }};
    window.initialJSON = {{ initialJSON | tojson | safe }};
</script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script src="{{ url_for('static', path='/js/peek.js') }}"></script>
{% endblock %}